body {
    text-align: center;
    width: 75%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdwCOTaNKLk95BY38z2oOPS19V72bnjvjqjG5g1Np9boNvfXsP");
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
}

.top-bar {
    padding: 3rem;
}

p {
    font-size: 18px;
    padding: 1%;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
}

#wins {
   color: goldenrod;
   font-size: 24px;
}

#losses {
    color: red;
    font-size: 20px;
}

#guess-amount {
    color: green;
    font-size: 20px;
}

#past-choice {
    letter-spacing: 5px;
}

.jumbotron {
    margin-left: 30%;
    margin-top: 5%;
    padding: 0rem 2rem 2rem;
}

.list-group-item {
    padding: 0;
}

.game-place {
    padding-top: 2rem;
}